@{
    ViewBag.Title = "Index";
}
@Html.Partial("/Views/Product/ProductTemplate.cshtml")
<h2>Index</h2>
<div id="containerDiv"></div>
<div id="loadingContainer" style="display: none">LOADING.....</div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        var gScroll = new Gscroll(10, "api/ProductApi", "productTemplate", "containerDiv", "loadingContainer");
    });
</script>
